.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* animated=true, closed */
.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease;
  color: var(--color-content-text-primary);
}

/* animated=true, open */
.contentOpen {
  max-height: 2000px;
}
